# Move grades from Gradescope to NYU Classes

We will use the data package `pandas` for this.

In [2]:
import pandas as pd
# view all columns:
pd.set_option('display.max_columns', None)
grades = pd.read_csv("grades.csv")  # your file name here!
grades.head(20)

,Name,SID,Email,section_name,Quiz 1 : Introduction to Computation,Quiz 1 : Introduction to Computation - Max Points,Quiz 1 : Introduction to Computation - Submission Time,Quiz 1 : Introduction to Computation - Lateness (H:M:S),Quiz 2 : Databases,Quiz 2 : Databases - Max Points,Quiz 2 : Databases - Submission Time,Quiz 2 : Databases - Lateness (H:M:S),Quiz 3 : Game Programming,Quiz 3 : Game Programming - Max Points,Quiz 3 : Game Programming - Submission Time,Quiz 3 : Game Programming - Lateness (H:M:S),Total Lateness (H:M:S)
0,Aden Al-Hardan,afa5905,afa5905@nyu.edu,"Intro to Computer Science, Section A",10.0,12.0,2021-01-30 20:58:46 -0800,00:00:00,19.0,20.0,2021-02-05 12:24:41 -0800,00:00:00,13.0,14.0,2021-02-12 14:20:42 -0800,00:00:00,00:00:00
1,Ahmer Khan,ask9106,ask9106@nyu.edu,"Intro to Computer Science, Section A",11.0,12.0,2021-01-30 17:15:08 -0800,00:00:00,19.0,20.0,2021-02-06 06:09:00 -0800,00:00:00,NaN,14.0,NaN,00:00:00,00:00:00
2,Alan Chen,ac8666,ac8666@nyu.edu,"Intro to Computer Science, Section A",NaN,12.0,NaN,00:00:00,16.0,20.0,2021-02-05 19:26:39 -0800,00:00:00,14.0,14.0,2021-02-24 16:42:50 -0800,00:00:00,00:00:00
3,Alaya Chowdhury,ac8431,ac8431@nyu.edu,"Intro to Computer Science, Section A",8.0,12.0,2021-01-29 17:22:50 -0800,00:00:00,20.0,20.0,2021-02-05 18:59:26 -0800,00:00:00,14.0,14.0,2021-02-16 17:03:53 -0800,00:00:00,00:00:00
4,Alejandro Vega,av2762,av2762@nyu.edu,"Intro to Computer Science, Section A",9.0,12.0,2021-01-30 16:38:30 -0800,00:00:00,17.0,20.0,2021-02-08 10:41:46 -0800,00:00:00,13.0,14.0,2021-02-12 12:35:40 -0800,00:00:00,00:00:00
5,Alex DeLeon,ajd701,ajd701@nyu.edu,"Intro to Computer Science, Section A",12.0,12.0,2021-02-10 10:26:17 -0800,00:00:00,18.0,20.0,2021-02-06 01:35:53 -0800,00:00:00,NaN,14.0,NaN,00:00:00,00:00:00
6,Alex Martin,aim9061,aim9061@nyu.edu,"Intro to Computer Science, Section A",10.0,12.0,2021-01-30 15:00:28 -0800,00:00:00,14.0,20.0,2021-02-05 15:32:13 -0800,00:00:00,NaN,14.0,NaN,00:00:00,00:00:00
7,Alex Sheng,as14565,as14565@nyu.edu,"Intro to Computer Science, Section A",12.0,12.0,2021-01-30 13:41:06 -0800,00:00:00,18.0,20.0,2021-02-08 13:53:24 -0800,00:00:00,14.0,14.0,2021-02-16 11:05:55 -0800,00:00:00,00:00:00
8,Alex Wu,wua14,wua14@nyu.edu,"Intro to Computer Science, Section A",11.0,12.0,2021-01-30 17:18:36 -0800,00:00:00,16.0,20.0,2021-02-05 20:14:07 -0800,00:00:00,11.0,14.0,2021-02-16 20:31:12 -0800,00:00:00,00:00:00
9,Alex Yan,yy3397,yy3397@nyu.edu,"Intro to Computer Science, Section A",11.0,12.0,2021-01-30 08:16:33 -0800,00:00:00,19.0,20.0,2021-02-05 20:39:34 -0800,00:00:00,13.0,14.0,2021-02-17 04:47:46 -0800,00:00:00,00:00:00
10,Aman Qureshi,aq2027,aq2027@nyu.edu,"Intro to Computer Science, Section A",NaN,12.0,NaN,00:00:00,13.0,20.0,2021-02-08 09:42:21 -0800,00:00:00,NaN,14.0,NaN,00:00:00,00:00:00
11,Amanda Gonzalez,akg9910,akg9910@nyu.edu,"Intro to Computer Science, Section A",10.0,12.0,2021-01-29 22:33:53 -0800,00:00:00,15.0,20.0,2021-02-05 22:39:03 -0800,00:00:00,12.0,14.0,2021-02-16 22:35:34 -0800,00:00:00,00:00:00
12,Amy Bobb,ab9316,ab9316@nyu.edu,"Intro to Computer Science, Section A",10.0,12.0,2021-01-30 18:33:53 -0800,00:00:00,18.0,20.0,2021-02-06 07:49:37 -0800,00:00:00,14.0,14.0,2021-02-16 22:01:38 -0800,00:00:00,00:00:00
13,Amy Fouzia,af3842,af3842@nyu.edu,"Intro to Computer Science, Section A",9.0,12.0,2021-01-29 17:31:04 -0800,00:00:00,19.0,20.0,2021-02-05 17:23:08 -0800,00:00:00,14.0,14.0,2021-02-12 09:07:52 -0800,00:00:00,00:00:00
14,Andre Hu,abh471,abh471@nyu.edu,"Intro to Computer Science, Section A",10.0,12.0,2021-01-30 08:43:31 -0800,00:00:00,17.0,20.0,2021-02-05 16:52:00 -0800,00:00:00,10.0,14.0,2021-02-12 15:12:12 -0800,00:00:00,00:00:00
15,Andrew Tang,at4704,at4704@nyu.edu,"Intro to Computer Science, Section A",11.0,12.0,2021-01-29 14:00:29 -0800,00:00:00,19.0,20.0,2021-02-05 12:53:07 -0800,00:00:00,12.0,14.0,2021-02-12 12:24:10 -0800,00:00:00,00:00:00
16,Andy Chen,ac8736,ac8736@nyu.edu,"Intro to Computer Science, Section A",11.0,12.0,2021-01-29 15:11:31 -0800,00:00:00,17.0,20.0,2021-02-05 16:32:15 -0800,00:00:00,14.0,14.0,2021-02-12 10:12:29 -0800,00:00:00,00:00:00
17,Andy Cho,hc2985,hc2985@nyu.edu,"Intro to Computer Science, Section A",8.0,12.0,2021-01-30 01:44:14 -0800,00:00:00,15.0,20.0,2021-02-06 04:11:03 -0800,00:00:00,13.0,14.0,2021-02-16 12:28:09 -0800,00:00:00,00:00:00
18,Andy Quintuna,acq3433,acq3433@nyu.edu,"Intro to Computer Science, Section A",9.0,12.0,2021-01-30 15:43:40 -0800,00:00:00,20.0,20.0,2021-02-06 08:40:09 -0800,00:00:00,14.0,14.0,2021-02-16 20:45:15 -0800,00:00:00,00:00:00
19,Aneesh Maganti,am10865,am10865@nyu.edu,"Intro to Computer Science, Section A",11.0,12.0,2021-01-29 21:15:22 -0800,00:00:00,19.0,20.0,2021-02-06 00:44:35 -0800,00:00:00,13.0,14.0,2021-02-16 08:38:16 -0800,00:00:00,00:00:00

Drop some unneeded cols -- we will keep "Max Points" for now.

In [3]:
grades.drop("Email", axis=1,  inplace=True)
grades.drop("section_name", axis=1,  inplace=True)
grades.drop(grades.columns[grades.columns.str.contains('Submission Time')],
            axis=1, inplace=True)
grades.drop(grades.columns[grades.columns.str.contains('Lateness')],
            axis=1, inplace=True)
grades.head(2)

,Name,SID,Quiz 1 : Introduction to Computation,Quiz 1 : Introduction to Computation - Max Points,Quiz 2 : Databases,Quiz 2 : Databases - Max Points,Quiz 3 : Game Programming,Quiz 3 : Game Programming - Max Points
0,Aden Al-Hardan,afa5905,10.0,12.0,19.0,20.0,13.0,14.0
1,Ahmer Khan,ask9106,11.0,12.0,19.0,20.0,NaN,14.0

Save an intermediate version:

In [4]:
grades.to_csv("grades2.csv")

In [5]:
# I think this could be done with a reg exp, but...
# we do have to add points!
grades.rename(columns =
              {'Quiz 1 : Introduction to Computation': 'Quiz 1 [12]'},
              inplace = True)
grades.head(2)

,Name,SID,Quiz 1 [12],Quiz 1 : Introduction to Computation - Max Points,Quiz 2 : Databases,Quiz 2 : Databases - Max Points,Quiz 3 : Game Programming,Quiz 3 : Game Programming - Max Points
0,Aden Al-Hardan,afa5905,10.0,12.0,19.0,20.0,13.0,14.0
1,Ahmer Khan,ask9106,11.0,12.0,19.0,20.0,NaN,14.0

In [ ]:
grades.rename(columns =
              {'Assignment 1 - Karel the Robot': 'Asg1 [19]'},
              inplace = True)
grades.rename(columns =
              {'Assignment 2 - Calculator and Text Analyzer': 'Asg2 [20]'},
              inplace = True)
grades.rename(columns =
              {'Assignment 3 - Blackjack': 'Asg3 [16]'},
              inplace = True)
grades.rename(columns =
              {'Assignment 4 - Guessing Game': 'Asg4 [19]'},
              inplace = True)
grades.rename(columns =
              {'Assignment 5 - Tic-tac-toe': 'Asg5 [45]'},
              inplace = True)
grades.head(2)

In [ ]:
grades.drop(grades.columns[grades.columns.str.contains('Max Points')], axis=1, inplace=True)
grades.rename(columns = {'Midterm 1': 'Mid1'}, inplace = True)
grades.rename(columns = {'Midterm 2': 'Mid2'}, inplace = True)
grades.head(2)

Save intermediate version:

In [ ]:
grades.to_csv("grades3.csv")

Move SID to first col:

In [ ]:
cols = list(grades.columns)
cols = cols[2:3] + cols[0:2] + cols[3:]
print(cols)

In [ ]:
grades = grades[cols]
grades.head(2)

Combine first and last name into just name:

In [ ]:
pd.options.mode.chained_assignment = None
grades["Name"] = grades[['First Name', 'Last Name']].apply(lambda x: ' '.join(x),
                                                           axis=1)
grades.head(3)

Move name to 2nd column, as Classes demands, and git rid of first and last:

In [ ]:
cols = list(grades.columns)
cols = cols[0:1] + cols[-1:] + cols[3:-2]
print(cols)

grades = grades[cols]
grades.head(3)

Assign points for labs and midterms:

Save intermediate version:

In [ ]:
grades.to_csv("grades4.csv")

Oops, just realized mid2 isn't fully graded! Better drop it:

For import to Classes, we don't need 'Total': Classes will total for us!
But if you want to calc it, do this:

In [ ]:
# cols = list(grades.columns)
# del cols[0]
# del cols[1]
# grades['Total'] = grades[cols].sum(axis=1)
# grades["Total"].describe(percentiles=[0, 0.2, 0.4, 0.6, 0.8, 1.0])

We want to see all the rows we ask for, not just '...':

In [ ]:
pd.set_option('display.max_rows', None)

In [ ]:
grades.head(40)

Replace all of those `Nan`s:

In [ ]:
grades.fillna(0, inplace=True)
grades.head(40)

Classes says the first two cols should be 'Student ID' and 'Student Name'... not sure if the exact col name matters, but what the hey...

In [ ]:
grades.rename(columns =
              {'SID': 'Student ID'},
              inplace = True)
grades.rename(columns =
              {'Name': 'Student Name'},
              inplace = True)
grades.head()

And now we have a file we can import to NYU Classes... we set `index=False` to eliminate the first column of row numbers, which will make the import to Classes fail:

In [ ]:
grades.to_csv("grades4classes.csv", index=False)